<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>
			Hotel Costa Azul
		</title>

	</head>
	<body>
		<header>
			<!----- Titulo ------>
			<h1>
				Hotel Costa Azul
			</h1>
			
		</header>

		<!---- Navegacion ----->
		<nav>
			<ul>
				<li>
					<a href="../index.html">
						Inicio
					</a>
				</li>

				<li>
					<a href="rooms.html">
						Habitaciones
					</a>
				</li>

				<li>
					<a href="about.html">
						Sobre Nosotros
					</a>
				</li>

				<li>
					<a href="Views/contact.html">
						Contactanos
					</a>
				</li>
						
			</ul>
		</nav>

	<h2>
		Nuestra Historia
	</h2>

	<p>
		Desde 1967, Hotel Costa Azul ha sido un refugio de confort en medio de la ciudad, ofreciendo servicio calido y atencion familiar, mantenido generacion tras generacion.
	</p>

	<h3>
		Mision
	</h3>

	<p>
		Promover y proveer una experiencia de hospedaje que combine calidez, comodidad y excelencia en el servicio
	</p>

	<h3>
		Valores
	</h3>

	<ul>
		<li>
			Hospitalidad
		</li>
		<li>
			Calidad
		</li>
		<li>
			Compromiso
		</li>
		<li>
			Sostenibilidad
		</li>
	</ul>

	<!----------- equipo del hotel --------------->

	<h2>
		Nuestro Equipo
	</h2>

	<img src="../Assets/Images/gerente.jpg" width="450">

	<p>
		<strong>
			Alfonso Rodriguez
		</strong>

		 - Gerente General. Mas de 15 años liderando equipos en la industria hotelera
	</p>

	<br>

	<img src="../Assets/Images/recepcionista.jpg" width="450">

	<p>
		<strong>
			Andrea Contreras
		</strong>

		 - Recepcionista. Siempre con una sonrisa y dispuesta a ayudar.
	</p>

	<br>

	<img src="../Assets/Images/chef.jpg" width="450">

	<p>
		<strong>
			Mario Castañeda
		</strong>

		 - Chef Ejecutivo. Especialista en cocina internacional y local
	</p>

	<br>

	<p>
		©2025 Hotel Paraíso
	</p>





	</body>

</html>